@import "tailwindcss";

@theme {
  --color-neon-pink: #ff0055;
  --color-neon-cyan: #00ffcc;
  --color-neon-dark: #0f1016;
  --color-neon-panel: #151720;
  
  --font-mono: "JetBrains Mono", monospace, ui-monospace, SFMono-Regular;
}

body {
  background-color: var(--color-neon-dark);
  color: white;
}